<html>
<head>
	<title>HTML5 Frogger - A Simple Frogger-like Game using the Canvas</title>
	<meta name="description" content="A simple Frogger-like Game using the HTML5 Canvas Element">
	<meta name="robots" content="NOFOLLOW,NOINDEX">
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href='/site_media/frogger/style/frogger.css' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

	<script type="text/javascript" src="/site_media/frogger/script/cake.js"></script>
	<script type="text/javascript" src="/site_media/frogger/script/frogger.js"></script>
	<script type="text/javascript"> 
	try {
	var pageTracker = _gat._getTracker("UA-5776138-5");
	pageTracker._setDomainName(".brian-stoner.com");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	<!-- FB Connect Crap -->
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript">
	   $(document).ready(function(){
			FB.init({appId: '03acccde474f865750ebc093b9eca201', status: true, cookie: true, xfbml: true});
		
			FB.Event.subscribe('auth.sessionChange', function(response) {
				if (response.session) {
					if(FG){
						FG.getUser(); // Get the user from FB and save score if the game is over
					}
				}
			});
			
			init();
		});
		

	</script>
	<!-- END FB Connect Crap -->

</head>

<body>
	<div id="level"></div>
	<div id="timer"></div>
	<div id="lives"></div>
	<div id="score"></div>
	
	<div id="fbLogin">
		<fb:login-button></fb:login-button>
	</div>
	<div id="fb-root"></div>
</body>
</html>