<meta name="author" content="Brian Stoner">
<meta name="google-site-verification" content="ZLo0NHAWFuZoUzjmrDQuSACwrx6fbe0saPr1Y2mfC_c" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5776138-22']);
  _gaq.push(['_setDomainName', '.brianstoner.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
