<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Brian Stoner - Labs</title>
	<meta name="description" content="My playground for random tech experiments and trying out other cool stuff">
	<meta name="keywords" content="brian,stoner,tech,labs,experiments,cool stuff,3d,javascript,html5,games">
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href='/site_media/labshome/master.css' rel='stylesheet' type='text/css'>
	<script type="text/javascript"> 
	try {
	var pageTracker = _gat._getTracker("UA-5776138-5");
	pageTracker._setDomainName(".brian-stoner.com");
	pageTracker._trackPageview();
	} catch(err) {}</script>
	<meta name="author" content="Brian Stoner">
</head>
<body>
	<div id="pageWrapper">
		<div id="headerWrapper">
			<div id="headerTop">
				<a href="/" title="Home"><h1>Brian Stoner</h1><img src="/site_media/labshome/labsIcon.jpg" alt="" /><span>Labs</span></a>
			</div>
			<div id="headerBottom">
			</div>
		</div>

		<div id="bodyWrapper">
			<div id="bodyInner">		
				<ul id="labsList">
					<li>
						<a href="/frogger/" title="HTML5 Frogger">
						<img src='/site_media/labshome/frogger.png' alt='' />
						<p class='title'>HTML5 Frogger</p>
						<p class='description'>A lite version of Frogger implemented in HTML5/Javascript using the Cake.js framework.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
