/* Standard Clear */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	text-decoration:none;
	vertical-align:baseline;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Clear */


/* Styled Common Elements */
body,html {
	height:100%;
	font-family:'Helvetica','Arial',sans-serif;
	color:#464646;
	background: #ccc;
	line-height:1.4;
	width:100%;
	display:table;
}

h1,h2,h3,h4,h5,h6 {letter-spacing:0px;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#464646;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#333;}
	
h1 {font-size:250%;}
h2 {font-size:150%;}
h3 {font-size:140%;}
h4 {font-size:120%;}
h5 {font-size:110%;}
h6 {font-size:100%;}
p {font-size:100%;}

h1,h2,h3,h4,h5,h6 {padding-bottom:10px;line-height:1.0;}
p {padding-bottom:15px;}

a           	{color:#1d75ca;font-weight:bold;}
a:focus,
a:hover     	{color:#1d75ca;}
a:visited		{}
a:visted:hover 	{}

.fLeft {float:left;}
.fRight {float:right;}
.clear {clear:both;}


/**** MAIN LAYOUT */

#pageWrapper {width:100%;height:100%;display:table;}

	#headerWrapper {width:100%;background-color:#f0f0f0;height:170px;border-bottom:1px solid #dcdcdc;}
		#headerInner {width:800px;margin:0 auto;padding-top:20px;}
			#headerInner h1 {float:left;}
			#headerInner h3 {float:right;position:relative;top:15px;}
			ededed
	#bodyWrapper {width:100%;background-color:#fff;}
		#bodyInner {width:800px;margin:0 auto;padding:20px;background-color:#fff;position:relative;
						top:-75px;height:auto;min-height:400px;
     					-moz-box-shadow: 0px 0px 20px #999; /* FF3.5+ */
  						-webkit-box-shadow: 0px 0px 20px #a9a9a9; /* Saf3.0+, Chrome */
          				box-shadow: 0px 0px 20px #dcdcdc; /* Opera 10.5, IE 9.0 */
						}
						
			#sidebarWrapper {float:right;width:175px;font-size:90%;}
			
			#fbLogin {text-align:center;padding-top:20px;}
			
			
/**** Songs */
#userItemsWrapper {position:relative;float:left;width:580px;outline:none;list-style:none;}
#userItemsWrapper .songLink {display:block;padding:5px 10px;background-color:#f0f0f0;
						margin-bottom:10px;width:95%;clear:both;color:#1d75ca;cursor:pointer;font-weight:bold;}
#userItemsWrapper .songLink:hover {background-color:#ebebeb;}

#userItemsWrapper .playing {background-color:#FDFFDB;}
#userItemsWrapper .paused {background-color:#DCE6E5;}

#userItemsWrapper .songDetails {width:95%;padding:0px 10px;display:none;}
#userItemsWrapper .songDetails img {width:100px;float:left;margin-right:15px;}
#userItemsWrapper .songDetails p {font-size:80%;}

#userItemsWrapper .jp-progress {height:10px;width:1px;background-color:#1d75ca;margin-bottom:10px;}
#userItemsWrapper .jp-loading {height:10px;width:1px;background-color:#dcdcdc;margin-bottom:10px;}

/**** TextBoxes */
#addItemWrapper {float:left;width:560px;display:none;}
#addItemWrapper input {float:left;border:1px solid #dcdcdc;font-size:110%;color:#666;padding:5px 9px;
							margin-right:10px;width:80%;}
	.italicInput {font-style:italic;color:#999;}
						
/*********** Button Half */
.medButton {background: transparent url('/site_media/images/pinkButtons75.png') no-repeat 100% -91px;
					color:#666;display:block;font-size:12px;font-weight:bold;height:30px;cursor:pointer;
					border:0;padding:0 12px 0 0;margin-right:10px;width:auto;overflow:visible;}

	.medButton:hover {color:#333;} /* Needed to override other hover style */
	.medButton span {background: transparent url('/site_media/images/pinkButtons75.png') no-repeat 0px -60px;
					display:block;line-height:26px;padding:2px 0 2px 12px;height:26px;}

	.medButton:active {background-position:top right;outline:none;color:#888;}
		.medButton:active span {background-position:0px -30px;padding:3px 0 1px 12px;}						