<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">  
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
	
	<title>Reptar - Houseboat Babies</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<meta name="author" content="Brian Stoner">
	<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
	try {
	var pageTracker = _gat._getTracker("UA-5776138-5");
	pageTracker._setDomainName(".brian-stoner.com");
	pageTracker._trackPageview();
	} catch(err) {}</script> 

	<link href="/site_media/reptar/style/reptar.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/site_media/reptar/data/echonestData.js"></script>
	<script type="text/javascript" src="/site_media/reptar/script/base.js"></script>
	<script type="text/javascript" src="/site_media/reptar/script/reptar.js"></script>
</head>
<body onload="init();" class="noSelection">
	<div id="pageWrapper">
		<div id="message" class="textOverlay transparent roundedCorners">
			Loading...
		</div>

		<div id="screen"></div>

		<div id="score" class="textOverlay transparent roundedCorners noSelection"></div>
		<div id="timer" class="textOverlay transparent roundedCorners noSelection"></div>
	</div>
</body>
</html>
