<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>'Home' in Space: A 3D Music based web game</title>
	<meta name="robots" content="NOFOLLOW,NOINDEX">
	<meta name="description" content="A 3D Javascript/HTML5 game driven by an Echonest audio analysis">
	<meta name="keywords" content="brian,stoner,tech,labs,javascript,3d,html5,echonest,music,shutters,home,space,game,web game,chrome">
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<link href="/site_media/homeinspace/style/game.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="pageWrapper">
	<div id="headerWrapper">
		<div id="headerInner">
			<h1>'Home' in Space</h1>
			<h2>A 3D music-based web game <span class='headerName'>created by <a href="http://brian-stoner.com">Brian Stoner</a> - May 23, 2010</span></h2>
		</div>
	</div>
	<div id="bodyWrapper">
		<div id="bodyInner">
			<div id="musicCol">
				<h2>The Music:</h2>
				<h3>'Home' by shutters</h3>
				<a href="http://click.linksynergy.com/fs-bin/stat?id=8oUygtvMHo4&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Falbum%252Fspin-it%252Fid343800518%253Fi%253D343800530%2526uo%253D6%2526partnerId%253D30" target="itunes_store" title="download on iTunes">
				<img src='/site_media/homeinspace/images/shutters_cropped_2.jpg' /></a>
				<p>Shutters began in 2007 as a vehicle for the original music of Emmett Lindsay, a Philadelphia based singer-songwriter.</p>
				<p>Evolving as a rhythm-driven band, Shutters animates the broad mosaic of melodies and lyrics that Lindsay assembles. Rooted in contemporary rock, their varied harmonies allude to jazz and classical influences. All band members collaborate on arrangements.</p>

				<p>As lead singer, Lindsay takes the reins on either guitar or piano with vocal support from sister and cellist Chloe Gallagher and bassist Dan Manchester. This smart musical trio comes to life behind the lithe energy of drummer Ben Brown, with each member involved in the inclusion of live electronics.</p>

				<p>Shutters’ music resonates with fans of The Verve, Jane’s Addiction, Tom Waits, Neil Young, and the Beatles. The piano-driven material draws comparisons to Tori Amos and Fiona Apple and the band’s sweeping improvisational sensibility in a live setting is sometimes likened to the expansiveness of Radiohead.</p>

				<p>Shutters released their debut EP, entitled home, in December 2009. The music was recorded at ROKBOX Studio in Philadelphia and was co-produced by Lance Davis (LateBloom) and Emmett Lindsay. home illustrates the balance of acoustic and electronic elements and traditional and current influences that the band incorporates, and features guest appearances by local guitarists Tim Conley (As Human, Grimace Federation, Ryat) and Chris Orescan and drummer Stephen Rockwell. The EP is available via itunes and CDBaby. Shutters has steadily built a fanbase in the greater Philadelphia area and in 2009 also made brief tours of both the Southeastern states and New England. The band has also played several New York City venues in Manhattan and Brooklyn.</p>

				<p>"Take the captivating intensity of Elliott Smith and roots rock feel of John Butler Trio and you have Newtown’s Emmett Lindsay....The listener is drawn in by Lindsay's voice, which shifts between haunting spoken whispers and grooving melodies, making him a compelling and hypnotic storyteller. " - The Deli Magazine, Philadelphia</p>
				
				<p>Buy their Home E.P. on <a href="http://click.linksynergy.com/fs-bin/stat?id=8oUygtvMHo4&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Falbum%252Fspin-it%252Fid343800518%253Fi%253D343800530%2526uo%253D6%2526partnerId%253D30" target="itunes_store">iTunes</p></p>
				<p>Shutters on <a href="http://www.myspace.com/emmett13" title="shutters on myspace">Myspace</a></p>
				
			</div>
			<div id="techCol">
				<a href="/home-in-space/play/" title="Play Game"><img src='/site_media/homeinspace/images/game_thumbnail_1.jpg' />
				<a id="playGameButton" href="/home-in-space/play/" title="Play Game">Play Game</a>
				
				<p>WARNING:  The game needs a lot of processing power, and runs best in the latest version of <a href="http://chrome.google.com/" title="Download Chrome">Google Chrome</a> or Safari.</p>

				<h2>About:</h2>
				<p>The goal of the game is to shoot as many of the flying space particles as you can before the song is over. Moving the mouse aims the cannon and clicking will fire a shot.</p>
				<p>This game was built to see how some of the latest web technologies standards can be used to create
					new kinds of interactive experiences natively in a web browser.</p>
				<p>Most of the gameplay is driven by acoustical data from the song:</p>
					<ul>
						<li>1. The horizontal rows in the blue terrain at the bottom will move higher or lower with the loudness of the song.  The horizon of the terrain representing the current place in the song.</li>
						<li>2. Spikes in the terrain will occur within each row at different places along the x-axis depending on the current pitch of the song (from C on the left, to B on the right).</li>
						<li>3. The space particles are released in line with the beats of the song.  Initially they're only released at the start of every other measure, then on the 1's of each measure, and then eventually on the 1's and 3's of each measure.  The analysis from echonest came back saying the song was in 4/4 time, but I think the song is really in 6/8 time at a faster tempo.  I stuck with the echonest analysis using 4/4 time because it still fits well, and a faster tempo would have probably made things hectic.</li>
						<li>4. The background changes color slightly with each major segment change of the song as identified by echonest.  I had to massage these a little cause echonest missed a few, but still provided a good starting point.</li>
					</ul>
				<p>Unfortunately the intense rendering and gameplay require a lot of processing power, and in my tests the Webkit javascript engine (Google Chrome and Safari) was the only one that could handle it consistently.  Firefox will run it, but once it has to start trying to do the collision detection calc's it really slows down and stutters.  I'm definitely new to 3D animation and gaming so there's probably better ways to do some of the calc's and so I may look at trying to improve performance.  If anyone has tips/suggestions let me know.</p>
				<h2>The Technology:</h2>
				<p>Here's what I used to pull the game together:</p>
					<ul>
						<li><a href="http://github.com/mrdoob/three.js" title="threejs">Three.js:</a> A 3D javascript rendering library built by <a href="http://mrdoob.com">Mr. Doob</a>.  3D animation and rendering was totally new to me when I started this last weekend, so his simple library and examples were essential to being able to pull this together.</li>
						<li><a href="http://echonest.com">Echonest API </a> It's like an API into a song.  I had used this a while back, but this was the first time I really dug into the minutia of data they can provide for an uploaded song.  I did have to massage some of it, but I never would have been able to get all the data by hand.</li>
						<li><a href="http://dev.w3.org/html5/spec/Overview.html" title="HTML5 spec">HTML5</a> Everyone's favorite buzzword of the minute.  The game uses the canvas and audio elements.</li>
					</ul>
				<p>There's no server side code going on here, so you can get all the source just from inspecting, though I may throw it up on github.  There's no license, so feel free to do whatever you want with any of it.
				<p><a href="http://brian-stoner.com">Brian</a> (<a href="http://twitter.com/bsstoner" title="twitter">@bsstoner</a>)</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
