html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration:none;
	color:#333;
}
body {
	font-family:'Yanone Kaffeesatz',Georgia,Times,serif;
	background: #dcdcdc url('../images/backgroundHeader.png') top center no-repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {font-size:280%;}
h2 {font-size:200%;}
h3 {font-size:180%;}
h4 {font-size:170%;}
h5 {font-size:150%;}
h6 {font-size:130%;}

h1, h2, h3, h4, h5, h6, p {padding-bottom:10px;font-weight:normal;}

a {color:#660000;}
a:hover {color:#990000;}

.clear {clear:both;}


/**** MAIN LAYOUT */

#pageWrapper {width:100%;height:100%;display:table;margin-bottom:50px;}

	#headerWrapper {width:100%;position:relative;}
		#headerInner {margin-left:auto;margin-right:auto;position:relative;width:900px;padding:10px 0;}
		.headerName {font-size:18px;padding-left:10px;color:#a9a9a9;}

	#bodyWrapper {width:100%;position:relative;clear:both;margin-top:10px;height:100%;}
		#bodyInner {margin-left:auto;margin-right:auto;width:900px;height:100%;}

			#leaderboardCol {float:right;width:250px;height:100%;}
			#summaryCol {float:left;width:600px;height:100%;padding-right:25px;border-right:1px dotted #dcdcdc;}

				#playGameButton {font-size:280%;display:block;width:100%;text-align:center;padding:15px 0;}
				
				
/*** GAME */
#leaderboard {position:relative;width:900px;margin:0 auto;padding:5px 0px;height:40px;color:#006600;}
#score, #lives, #level, #title {position:absolute;}
#score {right:100px;font-size:200%;}
#lives {right:0px;padding-left:35px;background: url('../images/frog_icon.png') left top no-repeat;font-size:200%;}
#level {right:100px;font-size:200%;left:420px;}
#title {left:0px;top:0px;font-size:250%;}

#screen {margin:0px auto;position:relative;width:900px;}

#fbLogin
	{font-size:140%;display:none;position:absolute;width:300px;text-align:center;background-color:#000;}
#fbLogin p {color:#fff;}

#message {display:none;position:absolute;width:300px;text-align:center;font-size:200%;}

/** Common Styles */

.leaderItem {margin-bottom:15px;clear:both;float:left;}
.leaderItem .rank {font-size:200%;float:left;margin-right:5px;width:30px;text-align:left;line-height:0.8;}
.leaderItem img {float:left;margin-right:5px;width:50px;}
.leaderItem .user {float:left;}
.leaderItem .name {width:120px;float:left;}
.leaderItem .score {font-size:200%;float:left;position:relative;width:120px;line-height:0.8;}
.leaderItem .date {font-size:90%;line-height:0.8;float:right;width:40px;}

.textOverlay {
	padding:10px 15px;color:#fff;z-index:10000;font-weight:bold;
	display:inline;
}
.roundedCorners {
	 -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
          border-radius: 10px; /* Opera 10.5, IE 9 */
}
.transparent {
	opacity: .85; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=85); /* IE lt 8 */
	-ms-filter: "alpha(opacity=75)"; /* IE 8 */
	-khtml-opacity: .85; /* Safari 1.x */
	-moz-opacity: .85; /* FF lt 1.5, Netscape */
}
